My project/UIElementsSchema/Unity.UI.Builder.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:engine="UnityEngine.UIElements" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="UnityEditor.Overlays"
           elementFormDefault="qualified" targetNamespace="Unity.UI.Builder">
    <xs:import schemaLocation="UnityEngine.UIElements.xsd" namespace="UnityEngine.UIElements"/>
    <xs:complexType name="BuilderStyleRowType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:attribute default="" name="binding-path" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q1="Unity.UI.Builder" name="BuilderStyleRow" substitutionGroup="engine:VisualElement"
                type="q1:BuilderStyleRowType"/>
    <xs:complexType name="TransformOriginSelectorType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q2="Unity.UI.Builder" name="TransformOriginSelector" substitutionGroup="engine:VisualElement"
                type="q2:TransformOriginSelectorType"/>
    <xs:complexType name="BuilderMoverType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q3="Unity.UI.Builder" name="BuilderMover" substitutionGroup="engine:VisualElement"
                type="q3:BuilderMoverType"/>
    <xs:complexType name="HelpBoxType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:attribute default="" name="binding-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="text" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q4="Unity.UI.Builder" name="HelpBox" substitutionGroup="engine:VisualElement"
                type="q4:HelpBoxType"/>
    <xs:complexType name="TransitionsListViewType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q5="Unity.UI.Builder" name="TransitionsListView" substitutionGroup="engine:VisualElement"
                type="q5:TransitionsListViewType"/>
    <xs:complexType name="NumericStyleFieldType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="true" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:attribute default="" name="binding-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="label" type="xs:string" use="optional"/>
                <xs:attribute default="true" name="show-options" type="xs:boolean" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q6="Unity.UI.Builder" name="NumericStyleField" substitutionGroup="engine:VisualElement"
                type="q6:NumericStyleFieldType"/>
    <xs:complexType name="TextShadowStyleFieldType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="true" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:attribute default="" name="binding-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="label" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q7="Unity.UI.Builder" name="TextShadowStyleField" substitutionGroup="engine:VisualElement"
                type="q7:TextShadowStyleFieldType"/>
    <xs:complexType name="AngleStyleFieldType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="true" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:attribute default="" name="binding-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="label" type="xs:string" use="optional"/>
                <xs:attribute default="true" name="show-options" type="xs:boolean" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q8="Unity.UI.Builder" name="AngleStyleField" substitutionGroup="engine:VisualElement"
                type="q8:AngleStyleFieldType"/>
    <xs:complexType name="DimensionStyleFieldType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="true" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:attribute default="" name="binding-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="label" type="xs:string" use="optional"/>
                <xs:attribute default="true" name="show-options" type="xs:boolean" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q9="Unity.UI.Builder" name="DimensionStyleField" substitutionGroup="engine:VisualElement"
                type="q9:DimensionStyleFieldType"/>
    <xs:complexType name="BuilderNotificationsType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q10="Unity.UI.Builder" name="BuilderNotifications" substitutionGroup="engine:VisualElement"
                type="q10:BuilderNotificationsType"/>
    <xs:simpleType name="BuilderAttributesTestElement_enum-attr_Type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="None"/>
            <xs:enumeration value="Good"/>
            <xs:enumeration value="Bad"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BuilderAttributesTestElementType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:attribute default="default_value" name="string-attr" type="xs:string" use="optional"/>
                <xs:attribute default="0.1" name="float-attr" type="xs:float" use="optional"/>
                <xs:attribute default="0.1" name="double-attr" type="xs:double" use="optional"/>
                <xs:attribute default="2" name="int-attr" type="xs:int" use="optional"/>
                <xs:attribute default="3" name="long-attr" type="xs:long" use="optional"/>
                <xs:attribute default="false" name="bool-attr" type="xs:boolean" use="optional"/>
                <xs:attribute default="RGBA(1.000, 0.000, 0.000, 1.000)" name="color-attr" type="xs:string"
                              use="optional"/>
                <xs:attribute xmlns:q11="Unity.UI.Builder" default="Bad" name="enum-attr"
                              type="q11:BuilderAttributesTestElement_enum-attr_Type" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q12="Unity.UI.Builder" name="BuilderAttributesTestElement"
                substitutionGroup="engine:VisualElement" type="q12:BuilderAttributesTestElementType"/>
    <xs:complexType name="BuilderCanvasStyleControlsType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q13="Unity.UI.Builder" name="BuilderCanvasStyleControls" substitutionGroup="engine:VisualElement"
                type="q13:BuilderCanvasStyleControlsType"/>
    <xs:complexType name="FoldoutColorFieldType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:attribute default="" name="binding-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="text" type="xs:string" use="optional"/>
                <xs:attribute default="" name="binding-paths" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q14="Unity.UI.Builder" name="FoldoutColorField" substitutionGroup="engine:VisualElement"
                type="q14:FoldoutColorFieldType"/>
    <xs:complexType name="ScaleStyleFieldType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="true" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:attribute default="" name="binding-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="label" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q15="Unity.UI.Builder" name="ScaleStyleField" substitutionGroup="engine:VisualElement"
                type="q15:ScaleStyleFieldType"/>
    <xs:complexType name="IntegerStyleFieldType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="true" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:attribute default="" name="binding-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="label" type="xs:string" use="optional"/>
                <xs:attribute default="true" name="show-options" type="xs:boolean" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q16="Unity.UI.Builder" name="IntegerStyleField" substitutionGroup="engine:VisualElement"
                type="q16:IntegerStyleFieldType"/>
    <xs:complexType name="BuilderCanvasType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q17="Unity.UI.Builder" name="BuilderCanvas" substitutionGroup="engine:VisualElement"
                type="q17:BuilderCanvasType"/>
    <xs:complexType name="TransformOriginStyleFieldType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="true" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:attribute default="" name="binding-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="label" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q18="Unity.UI.Builder" name="TransformOriginStyleField" substitutionGroup="engine:VisualElement"
                type="q18:TransformOriginStyleFieldType"/>
    <xs:complexType name="BuilderNewSelectorFieldType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q19="Unity.UI.Builder" name="BuilderNewSelectorField" substitutionGroup="engine:VisualElement"
                type="q19:BuilderNewSelectorFieldType"/>
    <xs:complexType name="TextAlignStripType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="true" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:attribute default="" name="binding-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="label" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q20="Unity.UI.Builder" name="TextAlignStrip" substitutionGroup="engine:VisualElement"
                type="q20:TextAlignStripType"/>
    <xs:complexType name="PercentSliderType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="true" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:attribute default="" name="binding-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="label" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q21="Unity.UI.Builder" name="PercentSlider" substitutionGroup="engine:VisualElement"
                type="q21:PercentSliderType"/>
    <xs:complexType name="UnityUIBuilderSelectionMarkerType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q22="Unity.UI.Builder" name="UnityUIBuilderSelectionMarker"
                substitutionGroup="engine:VisualElement" type="q22:UnityUIBuilderSelectionMarkerType"/>
    <xs:complexType name="BuilderParentTrackerType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q23="Unity.UI.Builder" name="BuilderParentTracker" substitutionGroup="engine:VisualElement"
                type="q23:BuilderParentTrackerType"/>
    <xs:complexType name="BuilderTooltipPreviewType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:attribute default="" name="binding-path" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q24="Unity.UI.Builder" name="BuilderTooltipPreview" substitutionGroup="engine:VisualElement"
                type="q24:BuilderTooltipPreviewType"/>
    <xs:complexType name="CheckerboardBackgroundType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q25="Unity.UI.Builder" name="CheckerboardBackground" substitutionGroup="engine:VisualElement"
                type="q25:CheckerboardBackgroundType"/>
    <xs:complexType name="ModalPopupType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:attribute default="" name="title" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q26="Unity.UI.Builder" name="ModalPopup" substitutionGroup="engine:VisualElement"
                type="q26:ModalPopupType"/>
    <xs:complexType name="FoldoutFieldType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:attribute default="" name="binding-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="text" type="xs:string" use="optional"/>
                <xs:attribute default="" name="binding-paths" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q27="Unity.UI.Builder" name="FoldoutField" substitutionGroup="engine:VisualElement"
                type="q27:FoldoutFieldType"/>
    <xs:complexType name="BuilderResizerType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q28="Unity.UI.Builder" name="BuilderResizer" substitutionGroup="engine:VisualElement"
                type="q28:BuilderResizerType"/>
    <xs:complexType name="FoldoutNumberFieldType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:attribute default="" name="binding-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="text" type="xs:string" use="optional"/>
                <xs:attribute default="" name="binding-paths" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q29="Unity.UI.Builder" name="FoldoutNumberField" substitutionGroup="engine:VisualElement"
                type="q29:FoldoutNumberFieldType"/>
    <xs:complexType name="BuilderAnchorerType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q30="Unity.UI.Builder" name="BuilderAnchorer" substitutionGroup="engine:VisualElement"
                type="q30:BuilderAnchorerType"/>
    <xs:complexType name="BuilderSelectionIndicatorType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q31="Unity.UI.Builder" name="BuilderSelectionIndicator" substitutionGroup="engine:VisualElement"
                type="q31:BuilderSelectionIndicatorType"/>
    <xs:complexType name="FieldStatusIndicatorType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:attribute default="" name="field-name" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q32="Unity.UI.Builder" name="FieldStatusIndicator" substitutionGroup="engine:VisualElement"
                type="q32:FieldStatusIndicatorType"/>
    <xs:complexType name="FoldoutWithCheckboxType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:attribute default="" name="binding-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="text" type="xs:string" use="optional"/>
                <xs:attribute default="false" name="value" type="xs:boolean" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q33="Unity.UI.Builder" name="FoldoutWithCheckbox" substitutionGroup="engine:VisualElement"
                type="q33:FoldoutWithCheckboxType"/>
    <xs:complexType name="FoldoutTransitionFieldType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:attribute default="" name="binding-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="text" type="xs:string" use="optional"/>
                <xs:attribute default="" name="binding-paths" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q34="Unity.UI.Builder" name="FoldoutTransitionField" substitutionGroup="engine:VisualElement"
                type="q34:FoldoutTransitionFieldType"/>
    <xs:complexType name="TranslateStyleFieldType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="true" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:attribute default="" name="binding-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="label" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q35="Unity.UI.Builder" name="TranslateStyleField" substitutionGroup="engine:VisualElement"
                type="q35:TranslateStyleFieldType"/>
    <xs:complexType name="BuilderPaneType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:attribute default="" name="title" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q36="Unity.UI.Builder" name="BuilderPane" substitutionGroup="engine:VisualElement"
                type="q36:BuilderPaneType"/>
    <xs:complexType name="ToggleButtonStripType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="true" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:attribute default="" name="binding-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="label" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q37="Unity.UI.Builder" name="ToggleButtonStrip" substitutionGroup="engine:VisualElement"
                type="q37:ToggleButtonStripType"/>
    <xs:complexType name="PersistedFoldoutType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:attribute default="" name="binding-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="text" type="xs:string" use="optional"/>
                <xs:attribute default="false" name="value" type="xs:boolean" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q38="Unity.UI.Builder" name="PersistedFoldout" substitutionGroup="engine:VisualElement"
                type="q38:PersistedFoldoutType"/>
    <xs:complexType name="ImageStyleFieldType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="true" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:attribute default="" name="binding-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="label" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q39="Unity.UI.Builder" name="ImageStyleField" substitutionGroup="engine:VisualElement"
                type="q39:ImageStyleFieldType"/>
    <xs:complexType name="CategoryDropdownFieldType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="true" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:attribute default="" name="binding-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="label" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q40="Unity.UI.Builder" name="CategoryDropdownField" substitutionGroup="engine:VisualElement"
                type="q40:CategoryDropdownFieldType"/>
    <xs:complexType name="LibraryFoldoutType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:attribute default="" name="binding-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="text" type="xs:string" use="optional"/>
                <xs:attribute default="false" name="value" type="xs:boolean" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q41="Unity.UI.Builder" name="LibraryFoldout" substitutionGroup="engine:VisualElement"
                type="q41:LibraryFoldoutType"/>
    <xs:complexType name="FontStyleStripType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="true" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:attribute default="" name="binding-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="label" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q42="Unity.UI.Builder" name="FontStyleStrip" substitutionGroup="engine:VisualElement"
                type="q42:FontStyleStripType"/>
    <xs:complexType name="BuilderPlacementIndicatorType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q43="Unity.UI.Builder" name="BuilderPlacementIndicator" substitutionGroup="engine:VisualElement"
                type="q43:BuilderPlacementIndicatorType"/>
    <xs:complexType name="OverlayPainterHelperElementType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q44="Unity.UI.Builder" name="OverlayPainterHelperElement" substitutionGroup="engine:VisualElement"
                type="q44:OverlayPainterHelperElementType"/>
    <xs:complexType name="RotateStyleFieldType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="true" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:attribute default="" name="binding-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="label" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q45="Unity.UI.Builder" name="RotateStyleField" substitutionGroup="engine:VisualElement"
                type="q45:RotateStyleFieldType"/>
</xs:schema>