My project/UIElementsSchema/UnityEditor.PackageManager.UI.Internal.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:engine="UnityEngine.UIElements" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="UnityEditor.Overlays"
           elementFormDefault="qualified" targetNamespace="UnityEditor.PackageManager.UI.Internal">
    <xs:import schemaLocation="UnityEngine.UIElements.xsd" namespace="UnityEngine.UIElements"/>
    <xs:complexType name="AlertType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q1="UnityEditor.PackageManager.UI.Internal" name="Alert" substitutionGroup="engine:VisualElement"
                type="q1:AlertType"/>
    <xs:complexType name="InProgressViewType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q2="UnityEditor.PackageManager.UI.Internal" name="InProgressView"
                substitutionGroup="engine:VisualElement" type="q2:InProgressViewType"/>
    <xs:complexType name="PackageDetailsTabViewType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q3="UnityEditor.PackageManager.UI.Internal" name="PackageDetailsTabView"
                substitutionGroup="engine:VisualElement" type="q3:PackageDetailsTabViewType"/>
    <xs:complexType name="MultiSelectDetailsType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q4="UnityEditor.PackageManager.UI.Internal" name="MultiSelectDetails"
                substitutionGroup="engine:VisualElement" type="q4:MultiSelectDetailsType"/>
    <xs:complexType name="PackageDetailsLinksType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q5="UnityEditor.PackageManager.UI.Internal" name="PackageDetailsLinks"
                substitutionGroup="engine:VisualElement" type="q5:PackageDetailsLinksType"/>
    <xs:complexType name="PackageSubPageFilterBarType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q6="UnityEditor.PackageManager.UI.Internal" name="PackageSubPageFilterBar"
                substitutionGroup="engine:VisualElement" type="q6:PackageSubPageFilterBarType"/>
    <xs:complexType name="PackageDetailsHeaderType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q7="UnityEditor.PackageManager.UI.Internal" name="PackageDetailsHeader"
                substitutionGroup="engine:VisualElement" type="q7:PackageDetailsHeaderType"/>
    <xs:complexType name="ProgressBarType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q8="UnityEditor.PackageManager.UI.Internal" name="ProgressBar"
                substitutionGroup="engine:VisualElement" type="q8:ProgressBarType"/>
    <xs:complexType name="ToolbarWindowMenuType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:attribute default="" name="binding-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="text" type="xs:string" use="optional"/>
                <xs:attribute default="true" name="enable-rich-text" type="xs:boolean" use="optional"/>
                <xs:attribute default="false" name="parse-escape-sequences" type="xs:boolean" use="optional"/>
                <xs:attribute default="false" name="display-tooltip-when-elided" type="xs:boolean" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q9="UnityEditor.PackageManager.UI.Internal" name="ToolbarWindowMenu"
                substitutionGroup="engine:VisualElement" type="q9:ToolbarWindowMenuType"/>
    <xs:complexType name="PackagePlatformListType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q10="UnityEditor.PackageManager.UI.Internal" name="PackagePlatformList"
                substitutionGroup="engine:VisualElement" type="q10:PackagePlatformListType"/>
    <xs:complexType name="PackageListType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q11="UnityEditor.PackageManager.UI.Internal" name="PackageList"
                substitutionGroup="engine:VisualElement" type="q11:PackageListType"/>
    <xs:complexType name="PackageDetailsBodyType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q12="UnityEditor.PackageManager.UI.Internal" name="PackageDetailsBody"
                substitutionGroup="engine:VisualElement" type="q12:PackageDetailsBodyType"/>
    <xs:complexType name="PackageManagerToolbarType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q13="UnityEditor.PackageManager.UI.Internal" name="PackageManagerToolbar"
                substitutionGroup="engine:VisualElement" type="q13:PackageManagerToolbarType"/>
    <xs:complexType name="ScopedRegistriesSettingsType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q14="UnityEditor.PackageManager.UI.Internal" name="ScopedRegistriesSettings"
                substitutionGroup="engine:VisualElement" type="q14:ScopedRegistriesSettingsType"/>
    <xs:complexType name="PackageStatusBarType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q15="UnityEditor.PackageManager.UI.Internal" name="PackageStatusBar"
                substitutionGroup="engine:VisualElement" type="q15:PackageStatusBarType"/>
    <xs:complexType name="PackageTagLabelType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:attribute default="" name="binding-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="text" type="xs:string" use="optional"/>
                <xs:attribute default="true" name="enable-rich-text" type="xs:boolean" use="optional"/>
                <xs:attribute default="false" name="parse-escape-sequences" type="xs:boolean" use="optional"/>
                <xs:attribute default="false" name="display-tooltip-when-elided" type="xs:boolean" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q16="UnityEditor.PackageManager.UI.Internal" name="PackageTagLabel"
                substitutionGroup="engine:VisualElement" type="q16:PackageTagLabelType"/>
    <xs:complexType name="LoadingSpinnerType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q17="UnityEditor.PackageManager.UI.Internal" name="LoadingSpinner"
                substitutionGroup="engine:VisualElement" type="q17:LoadingSpinnerType"/>
    <xs:complexType name="PackageDetailsType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q18="UnityEditor.PackageManager.UI.Internal" name="PackageDetails"
                substitutionGroup="engine:VisualElement" type="q18:PackageDetailsType"/>
    <xs:complexType name="PackageListScrollViewType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q19="UnityEditor.PackageManager.UI.Internal" name="PackageListScrollView"
                substitutionGroup="engine:VisualElement" type="q19:PackageListScrollViewType"/>
    <xs:complexType name="PackageListViewType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q20="UnityEditor.PackageManager.UI.Internal" name="PackageListView"
                substitutionGroup="engine:VisualElement" type="q20:PackageListViewType"/>
    <xs:complexType name="DropdownButtonType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q21="UnityEditor.PackageManager.UI.Internal" name="DropdownButton"
                substitutionGroup="engine:VisualElement" type="q21:DropdownButtonType"/>
    <xs:complexType name="PackageLoadBarType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q22="UnityEditor.PackageManager.UI.Internal" name="PackageLoadBar"
                substitutionGroup="engine:VisualElement" type="q22:PackageLoadBarType"/>
    <xs:complexType name="ExtendableToolbarMenuType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:attribute default="" name="binding-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="text" type="xs:string" use="optional"/>
                <xs:attribute default="true" name="enable-rich-text" type="xs:boolean" use="optional"/>
                <xs:attribute default="false" name="parse-escape-sequences" type="xs:boolean" use="optional"/>
                <xs:attribute default="false" name="display-tooltip-when-elided" type="xs:boolean" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q23="UnityEditor.PackageManager.UI.Internal" name="ExtendableToolbarMenu"
                substitutionGroup="engine:VisualElement" type="q23:ExtendableToolbarMenuType"/>
    <xs:complexType name="SelectableLabelType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:attribute default="" name="binding-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="text" type="xs:string" use="optional"/>
                <xs:attribute default="true" name="enable-rich-text" type="xs:boolean" use="optional"/>
                <xs:attribute default="false" name="parse-escape-sequences" type="xs:boolean" use="optional"/>
                <xs:attribute default="false" name="display-tooltip-when-elided" type="xs:boolean" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q24="UnityEditor.PackageManager.UI.Internal" name="SelectableLabel"
                substitutionGroup="engine:VisualElement" type="q24:SelectableLabelType"/>
    <xs:complexType name="PackageToolbarType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q25="UnityEditor.PackageManager.UI.Internal" name="PackageToolbar"
                substitutionGroup="engine:VisualElement" type="q25:PackageToolbarType"/>
    <xs:complexType name="TagLabelListType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="engine:VisualElement"/>
                </xs:sequence>
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q26="UnityEditor.PackageManager.UI.Internal" name="TagLabelList"
                substitutionGroup="engine:VisualElement" type="q26:TagLabelListType"/>
</xs:schema>